<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Pontotel Desafio - Angular + Flask</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <img src="https://cdn.worldvectorlogo.com/logos/python-5.svg"
                width="40"
                height="40">
            <img src="https://angular.io/assets/images/logos/angular/angular_solidBlack.svg"
                width="40"
                height="40">
          </li>
        </ul>
        <div *ngIf="isLoggedIn">
            <div class="text-start">
                Bem vindo <strong>{{username}}</strong>
                <button type="button" class="btn btn-dark me-2 text" routerLink="logout">Logout</button> <!-- (click)="logout()" -->
            </div>
        </div>  
        <div *ngIf="!isLoggedIn">
            <div class="text-start">
                Bem vindo visitante
                <button type="button" class="btn btn-outline-dark me-2 text" routerLink="login">Login</button>
                <button type="button" class="btn btn-dark" routerLink="signup">Sign-up</button>
            </div>
        </div>
        </div>
      </div>      
  </nav>